<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure datetime:</strong>
    <%= flight.departure_datetime %>
  </p>

  <p>
    <strong>Flight duration:</strong>
    <%= flight.flight_duration %>
  </p>

</div>
