<h3>Select flight to proceed:</h3>

<%= form_with url: flights_path, method: :get do |form|%>

  <% @flights.each do |flight| %>
    <div>
      <%= render flight %>
      <%#= link_to "Select this flight", flight %>
      <%= form.radio_button :id, flight.id %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Next" %>
  </div>

<% end %>