<p style="color: green"><%= notice %></p>

<% content_for :title, "Flights" %>

<h1>Search flights:</h1>

<div>
  <%= render "search_flights" %>
</div>

<div><%= link_to "Clear", flights_path %></div>

<div id="flights">
  <% if @flights.nil? %>
    <p>Search for flights</p>
  <% elsif @flights.empty? %>
    <p>No flights found for your destination on given date!</p>
  <% else %>
    <%= render "select_flight" %>
  <% end %>
</div>

<%#= link_to "New flight", new_flight_path %>
