<% content_for :title, "New booking" %>

<h1>New booking</h1>

<%= render "form", booking: @booking %>

<% flash[:passenger_count].to_i.times do |count| %>
  <p>Passenger <%= count %></p>
<% end %>

<br>

<div>
  <%#= link_to "Back to bookings", bookings_path %>
</div>
