<p style="color: green"><%= notice %></p>

<h1>Booking details</h1>

<%= render @booking %>

<div>
  <%= link_to "Edit this booking", edit_flight_booking_path(@flight, @booking) %> |
  <%= link_to "Back to bookings", flight_bookings_path(@flight) %>

  <%#= button_to "Destroy this booking", @booking, method: :delete %>
</div>
